body{
    background-color: #B4E7EF;
    overflow-x: hidden;
}

#all {
    font-family: 'Lato', sans-serif;
    float: left;
    width: 100%;
}

#header{
    height: auto;
    width: 110%;
    margin-left: -3%;
    margin-top: -1%;
    position: fixed;
    background-color: #68CCDC;
}

#logo {
    width: 90px;
    height: 90px;
    padding: 0.5%;
    padding-top: 0.6%;
    margin-left: 15%;
    margin-top: 0.1%;
}

#logoimg {
    width: 100%;
}

#menu {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 50%;
}

#menu > a {
    float: left;
    margin-right: 7%;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}

#menu > a:link {
    text-decoration: none;
}

#content {
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    float: left;
    margin-top: 7%;
}

#footer {
    float: left;
    width: 110%;
    margin-left: -3%;
    margin-bottom: -1%;
    margin-top: 2%;
    background-color: #68CCDC;
    text-align: right;
}

#footer > p {
    margin-right: 8%;
    font-size: larger;
}

#flechas {
    float: left;
    width: 100%;
    margin-top: 4%;
}

#flechaderecha {
    float: right
}

.flecha:hover {
    cursor: pointer;
}

.text {
    float: left;
    width: 90%;
    /*border: 1px solid red;*/
    margin-left: 3%;
    font-size: larger;
}

.subtext {
    float: left;
    margin-left: 3%;
    width: 97%;
    max-width: 97%;
    /*border: 1px solid black;*/
}

.example {
    float: left;
    border: 2px solid #A3E16F;
    background-color: #C1EE9C;
    border-radius: 20px;
    padding-left: 3%;
    width: 97%;
}

input[type='button']{
    border: 2px solid #A47EE5;
    background-color: transparent;
    border-radius: 8px;
    margin-right: 1.5%;
    padding: 10px 20px;
    font-size: large;
    transition-duration: 0.2s;
}

input[type='button']:hover {
    background-color: #CEB8F5;
    color: white;
}

.codebutton {
    float: right;
    margin-bottom: 1.5%;
}

.restartbutton, .seecode {
    float: right;
    margin-top: 8%;
}

.literal {
    border: 2px solid #868686;
    background-color: #DEDEDE;
    border-radius: 20px;
}

.cursiva {
    font-style: italic;
}

.negrita {
    font-weight: bold;
}